<!DOCTYPE html>
<html>
  <head>
    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <link rel="stylesheet" href="ui.css">
    <script src="codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="codemirror/codemirror.css">
    <script src="codemirror/javascript.js"></script>
    <title>硬字幕OCR提取工具</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div id="apparea" v-show="loaded">
        <div id="title">{{info.file}} ({{info.width}}x{{info.height}}, {{info.nframes}}帧, {{info.fps}}fps)</div>
        <div id="video" @wheel="editorwheel" :class="{ editorup: editorup }">
          <div id="framearea" :style="{ height: (getdisph()+27)+'px' }">
            <div id="frameleft">
              <div class="toolbox neighborframe">
                <strong ref="prevframe">上一帧 ({{pos-1}})</strong>
                <imgdb v-if="pos>0" :src="ziprowidx(thumbnail, pos-1)" @my-load="imgload($refs.prevframe)" @click.native="setframepos(pos-1,1)"></imgdb>
                <div v-else :style="{ height: info.thumb_h+'px', width: info.thumb_w+'px', 'line-height': info.thumb_h+'px', 'text-align': 'center' }">无</div>
              </div>
              <div id="dispsize" class="toolbox">
                <strong>显示大小</strong>
                <div class="text">
                  <a @click.prevent="setframescale(info.thumb_h)">缩略图</a>
                  <a @click.prevent="setframescale(360)">小</a>
                  <a @click.prevent="setframescale(480)">大</a>
                </div>
              </div>
            </div>
            <div id="framebox">
              <div id="frametitle" class="toolbox"><strong ref="curframe">当前帧 ({{pos}})</strong></div>
              <div id="frame" :style="{ width: getdispw()+'px', height: getdisph()+'px' }">
                <img v-if="getdisph()!=info.thumb_h" :src="'/frame?id='+pos" @load="imgload($refs.curframe)" draggable="false" />
                <imgdb v-else :src="ziprowidx(thumbnail, pos)" @my-load="imgload($refs.curframe)"></imgdb>
                <div id="ocrarea" v-if="ocrsel[0]>=0" :style="{ top: y2percent(ocrsel[0]), height: y2percent(ocrsel[1]+1-ocrsel[0]), outline: ocrselmode ? '1px solid gold' : '1px solid #00ff00', 'border-color': ocrselmode ? 'transparent gold' : 'transparent green' }"></div>
                <div ref="frameevent" id="frameevent" @mousemove="framemousemove" @mouseleave="mousexy=[-1,-1]" @mousedown="framemousedown"></div>
              </div>
            </div>
            <div id="frameright">
              <div class="toolbox neighborframe">
                <strong ref="nextframe">下一帧 ({{pos+1}})</strong>
                <imgdb v-if="pos<info.nframes-1" :src="ziprowidx(thumbnail, pos+1)" @my-load="imgload($refs.nextframe)" @click.native="setframepos(pos+1,1)"></imgdb>
                <div v-else :style="{ height: info.thumb_h+'px', width: info.thumb_w+'px', 'line-height': info.thumb_h+'px', 'text-align': 'center' }">无</div>
              </div>
              <div id="ocrinfo" class="toolbox">
                <strong>{{ocrselmode?'选中的字幕':'新生成字幕'}}<br>OCR区域</strong>
                <div class="text">
                  <span v-if="ocrsel[0]<0">请在图片上用左键拖动来指定字幕的范围</span>
                  <span v-else>y1={{ocrsel[0]}}<br>y2={{ocrsel[1]}}</span>
                </div>
                <div class="text">
                  <a @click.prevent="inputocrsel">手工输入</a>
                </div>
                <div class="text" v-if="mousexy[0]>=0">
                  x={{mousexy[0]}}<br>
                  y={{mousexy[1]}}
                </div>
              </div>
            </div>
          </div>
          <div id="editor">
            <div :style="{'min-width': 'calc(' + info.thumb_w + 'px + 10px)'}">
              <div>
                <a class="button" @click.prevent="editorup^=1">{{editorup?'底':'顶'}}<div class="bl">将编辑框显示在{{editorup?'底部':'顶部'}}</div></a>
                <a class="button" @click.prevent="editorfontsize=Math.min(editorfontsize+1,50)">显示＋<div class="bl">让右侧文本框文字变大</div></a>
                <a class="button" @click.prevent="editorfontsize=Math.max(editorfontsize-1,16)">显示－<div class="bl">让右侧文本框文字变小</div></a>
                <a class="button" @click.prevent="jumppos(0)">起始帧<div class="bl">显示本条字幕的第一帧</div></a>
                <a class="button" @click.prevent="jumppos(1)">结束帧<div class="bl">显示本条字幕的最后一帧</div></a>
              </div>
            </div>
            <input type="text" ref="editbox" @keydown="editorkeydown" @input="editboxinput" @copy="editboxcopy" @cut="editboxcut" @paste="editboxpaste" :style="{ width: Math.round(info.width*Math.max(framescale, 360/info.height))+'px', 'min-width': Math.round(info.width*Math.max(framescale, 360/info.height))+'px', 'font-size': editorfontsize+'px' }" spellcheck="false">
            <div>
              <div>
                <a class="button" @click.prevent="jumpprev">上<div class="bl">跳转到上一条字幕<br>快捷键：<br>&nbsp;方向键上<br>&nbsp;或鼠标滚轮上</div></a>
                <a class="button" @click.prevent="jumpnext">下<div class="bl">跳转到下一条字幕<br>快捷键：<br>&nbsp;方向键下<br>&nbsp;或Enter<br>&nbsp;或鼠标滚轮下</div></a>
                <a class="button" @click.prevent="mergeprev">合并上条<div class="br">丢弃当前文本，将本条合并到上一条<br>并跳转到下一条字幕<br>快捷键：Ctrl+Enter</div></a>
                <a class="button" @click.prevent="replaceprev">替换上条<div class="br">使用当前文本，将本条合并到上一条<br>并跳转到下一条字幕<br>快捷键：Ctrl+Shift+Enter</div></a>
                <a class="button" @click.prevent="advedit">高级编辑<div class="br">直接编辑当前字幕的内部数据</div></a>
              </div>
            </div>
          </div>
          <imgdb v-if="mousepos>=0" id="thumbnail" :style="{ left: pos2percent(mousepos,info.thumb_w) }" :src="ziprowidx(thumbnail, mousepos)"></imgdb>
        </div>
        <div id="timebar" @click="setpos" @mousemove="setmousepos" @mouseleave="mousepos=-1" @mousedown="mouseposdown=1">
          <div id="barbg" ref="barbg"></div>
          <div id="thumbbar" :style="{ width: pos2percent(thumbnail.row.length) }"></div>
          <canvas ref="canvas"></canvas>
          <div id="posmarker" :style="{ left: pos2percent(pos) }"></div>
          <div id="mousemarker" v-if="mousepos>=0" :style="{ left: pos2percent(mousepos) }"></div>
          <div id="mouselabel" v-if="mousepos>=0" :style="{ left: pos2percent(mousepos, 80) }">{{mousepos}}</div>
        </div>
        <div id="tblarea">
          <div id="tblop">
            <div id="tblsummary" @click="tblselnone"><span><span>{{tblinfo}}</span><span style="color:gray">{{tblinfo2}}</span></span></div>
            <div id="tblsort">
              <span>排序</span>
              <select v-model="tblsort">
                <option v-for="i in tblsortfunc" :value="i[1]">{{i[0]}}</option>
              </select>
            </div>
            <div id="tblfilter">
              <span>筛选</span>
              <select v-model="tblflt">
                <option v-for="i in tblfltfunc" :value="i[1]" :disabled="i[1]===null">{{i[0]}}</option>
              </select>
            </div>
            <input id="tblfltcustom" type="text" v-model="tblfltedit" @keydown="tblfltkeydown" :style="{'background-color': tblfltedit==tblflt ? (tblflterr ? 'lightpink':'azure') : 'lemonchiffon'}" title="自定义JavaScript表达式，按回车应用，具体参数详见“高级编辑”或“执行自定义脚本”功能" spellcheck="false">
          </div>
          <div id="text">
            <table id="ocrresult" @click="tblselnone">
              <thead>
                <tr>
                  <th title="frame_start, frame_end">帧范围</th>
                  <th title="top, bottom">OCR区域</th>
                  <th title="engine">引擎</th>
                  <th title="ocrtext">文本</th>
                  <th>预览</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div id="tblhint" @click="tblselnone">单击:<span>选择</span> / Ctrl+单击:<span>多选</span> / Shift+单击:<span>选择范围</span></div>
          </div>
        </div>
        <div id="op">
          <div>
            <div>
              <span>选中：<span>{{selinfo}}</span><span style="color:gray">{{selinfo2}}</span></span>
              <div style="float: right">
                <a class="button" @click.prevent="tblselnone">不选<div class="bl">取消选择所有字幕</div></a>
                <a class="button" @click.prevent="tblselall">全选<div class="bl">选择筛选后的所有字幕</div></a>
              </div>
            </div>
            <div id="export">
              <a class="button" @click.prevent="exportass" style="color:darkmagenta">导出ASS<div class="bl">导出为ASS字幕文件</div></a>
              &nbsp;&nbsp;
              <a class="button" @click.prevent="exportcsv">导出CSV<div class="bl">导出为CSV表格文件</div></a>
              <label for="csvfile0"><a class="button">导入CSV<div class="bl">用CSV文件中的数据更新已有字幕<br>文件中id列被设为0的字幕将作为新字幕项插入</div></a></label>
              <input type="file" ref="csvfile0" id="csvfile0" accept=".csv" @change="importcsv(0)">
              <label for="csvfile1"><a class="button">添加CSV<div class="bl">将CSV文件中的数据添加为新字幕项<br>相当于文件中所有字幕id均被设为0</div></a></label>
              <input type="file" ref="csvfile1" id="csvfile1" accept=".csv" @change="importcsv(1)">
            </div>
          </div>
          <div>
            <div>
              <span>脚本：</span>
              <a class="button" @click.prevent="checkselect()&&runscript(myscript.scripts.find(s=>s.name=='合并相同'))">合并相同<div class="bl">合并相邻且文字完全相同的字幕</div></a>
              <a class="button" @click.prevent="checkselect()&&runscript(myscript.scripts.find(s=>s.name=='清理'))">清理<div class="bl">删除空字幕、被合并字幕</div></a>
              &nbsp;
              <a class="button" @click.prevent="checkselect()&&runscript(myscript.scripts.find(s=>s.name=='强制合并相邻'))">强制合并相邻<div class="bl">合并相邻字幕，不论文字是否相同</div></a>
              <a class="button" @click.prevent="checkselect()&&runscript(myscript.scripts.find(s=>s.name=='删除'))">删除<div class="bl">删除选中的字幕</div></a>
              <a class="button" @click.prevent="checkselect()&&runscript(myscript.scripts.find(s=>s.name=='克隆'))">克隆<div class="bl">克隆一份选中的字幕</div></a>
              &nbsp;
              <a class="button" @click.prevent="checkselect(true)&&showcodeedit(1)">执行自定义脚本<div class="bl">执行自定义JavaScript脚本</div></a>
            </div>
            <div id="engine">
              <span>引擎：</span>
              <select v-model="ocrconfig.engine" @change="saveconfig('OCR', ocrconfig, 'OCR引擎已设定为：'+engines.get(ocrconfig.engine))">
                <option v-for="engine in Array.from(engines.entries())" :value="engine[0]">{{engine[1]}}</option>
              </select>
              <a class="button" @click.prevent="startocr">新OCR<div class="bl">对范围内所有帧，新建一条字幕项并执行OCR<br>一般该操作只需要执行一次</div></a>
              <a class="button" @click.prevent="stopocr">暂停OCR<div class="bl">暂停当前运行的OCR任务</div></a>
              <a class="button" @click.prevent="continueocr('')">继续OCR<div class="bl">使用当前设定的引擎，对选中范围内的“等待OCR”字幕和“OCR失败”字幕重新尝试OCR</div></a>
              <a class="button" @click.prevent="continueocr('all')">重新OCR<div class="bl">使用当前设定的引擎重新OCR选中的字幕，并替换现有文本</div></a>
              <a class="button" @click.prevent="continueocr('empty')">空项OCR<div class="bl">对选中范围内现有文本为空的字幕项<br>使用当前设定的引擎重新OCR</div></a>
            </div>
          </div>
        </div>
        <div id="logarea" :style="{ height: morelog ? '190px' : '60px' }">
          <div class="buttonbar">
            <a class="button" @click.prevent="(checkpointonly^=1)||scrollstatus(),morelog=checkpointonly">{{checkpointonly?'显示所有日志':'只显示恢复点'}}<div class="tr">{{checkpointonly?'在日志栏中显示所有类型日志':'在日志栏中只显示恢复点'}}</div></a>
            <a class="button" @click.prevent="createcheckpoint">创建恢复点<div class="tr">对全部字幕项“存档”，以便需要时“读档”</div></a>
            <a class="button" @click.prevent="checkpointonly=0,(morelog^=1)||scrollstatus()">显示{{morelog?'更少':'更多'}}日志<div class="tr">{{morelog?'减小':'增大'}}日志栏高度</div></a>
          </div>
          <div ref="logs" id="logs">
            <table>
              <tr v-for="log in ziprowarr(logs)" v-if="!checkpointonly||log.checkpoint_id!==null" :data-level="log.level">
                <td>{{log.date}}</td>
                <td>{{log.message}}<span v-if="log.checkpoint_id">&nbsp;<a @click.prevent="rollback(log.checkpoint_id)">{{log.level=='C'?'撤销至此':'撤销至此操作之前'}}</a></span></td>
              </tr>
              <tr v-if="waitstatus"><td></td><td>处理中…</td></tr>
              <tr v-if="pageerror" style="background-color: red; color: yellow"><td></td><td>与后端通信失败，请刷新页面重试！！！</td></tr>
            </table>
          </div>
        </div>
      </div>
      <div v-show="codeeditor" class="dialogbackground" style="z-index: 10"></div>
      <div v-show="codeeditor" id="codeeditor">
        <div id="codeeditortitle">
          执行脚本
          <a @click.prevent="showcodeedit(0)">X</a>
        </div>
        <div id="scriptselect">
          <select v-model="scriptsel" @change="changescript">
            <option v-for="s in myscript.scripts" :value="s">{{s.name}}</option>
          </select>
          <a class="button" @click.prevent="renamescript">重命名</a>
          <a class="button" @click.prevent="clonescript">克隆</a>
          <a class="button" @click.prevent="delscript">删除</a>
          <a class="button" @click.prevent="newscript">新建</a>
          <span v-if="scriptsel&&scriptsel.locked" style="color: red">该脚本已锁定，不可更改</span>
          <span v-else>提示：按Ctrl+Shift+I可打开控制台。</span>
        </div>
        <div id="editordiv" ref="codemirror"></div>
        <div id="codeeditorop">
          <a class="button" @click.prevent="runscript(scriptsel)&&showcodeedit(0)">执行</a>
          <a class="button" @click.prevent="showcodeedit(0)">取消</a>
        </div>
      </div>
      <div id="adveditorbg" v-show="adveditor" class="dialogbackground">
        <div id="adveditor">
          <div ref="adveditbox"></div>
          <div>
            <a class="button" @click.prevent="adveditcancel">取消</a>
            <a class="button" @click.prevent="adveditok">确定</a>
          </div>
        </div>
      </div>
      <div id="promptbg" v-if="myprompt" class="dialogbackground">
        <div id="promptdialog">
          <div>{{myprompt.message}}</div>
          <div><input type="text" v-model="myprompt.value" ref="promptbox" @keydown="mypromptkeydown" spellcheck="false"></div>
          <div>
            <a class="button" @click.prevent="mypromptcancel">取消</a>
            <a class="button" @click.prevent="mypromptok">确定</a>
          </div>
        </div>
      </div>
      <div id="loading" v-show="!loaded">加载中，请稍候…<br><br>若数据较多，加载速度可能会比较慢</div>
    </div>
    <script src="ui.js"></script>
  </body>
</html>